.wrapper {
  width: 864px;
  height: 624px;
  z-index: 99;

  .mainImage {
    width: 100%;
    height: 486px;
    margin: 0;
  }

  .imageSelector {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

    .imageItem {
      width: 210px;
      height: 118px;
    }

    .arrow {
      margin: 0 10px;
      cursor: pointer;

      &:last-child {
        transform: rotate(180deg);
      }
    }
  }
}
